:root {
  /* Colores */
  --soft-pink: #f38181;
  --soft-yellow: #fce38a;
  --soft-green: #eaffd0;
  --soft-blue: #95e1d3;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "Kiwi Maru", serif;
}
body {
  background-image: linear-gradient(
    to top,
    #fce38a,
    #f6e996,
    #f1efa3,
    #edf4b1,
    #ebf9be,
    #e2f9c3,
    #dbf9c9,
    #d4f8ce,
    #c3f3ce,
    #b3edcf,
    #a4e7d1,
    #95e1d3
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.container {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  height: 100vh;
  justify-items: center;
  align-items: center;

}
.item:nth-child(1) {
  width: 309px;
  height: 100vh;
  
  background-image: url("./img/anime2.png");
  grid-column: 1 / 5;
  grid-row: 1 / 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  justify-items: flex-end;
  align-items: center;

}
.item:nth-child(2) {
  width: 300px;
  height: 300px;
  background-image: url("./img/anime1.png");
  grid-column: 7 / 10;
  grid-row: 1 / 5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.item:nth-child(3){
  width: 305px;
  height: 300px;
  background-image: url("./img/japanese2.png");
  grid-column: 7 / 10;
  grid-row: 7 / 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sub-item p{
  margin: 0;
  font-size:30px ;
 
}
.name{
  margin: 0;
  font-size: 25px;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  display: grid;
  justify-items: center;
  

}